.content-container {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
}

.sidebar {
  width: 20%;
}

.container {
  flex-grow: 1;
  overflow-y: auto;
}

.news-container {
  width: 20%;
}
